.container {
	max-width:900px;
	margin:auto;
	
}

.row {
	display:flex;
	padding:20px;
}

.col-01 {
	width: 8.3%;
}

.col-02 {
	width: 16.6%;
}

.col-03 {
	width: 25%;
}

.col-04 {
	width: 33.2%;
}

.col-05 {
	width: 41.5%;
}

.col-06 {
	width: 50%;
}

.col-07 {
	width: 58.1%;
}

.col-08 {
	width: 66.4%;
}

.col-07 {
	width: 58.1%;
}

.col-08 {
	width: 66.4%;
}

.col-09 {
	width: 74.7%;
}

.col-10 {
	width: 83%;
}

.col-11 {
	width: 91.3%;
}

.col-12 {
	width: 100%;
}

.col-01, .col-02, .col-03, .col-04, .col-05, .col-06, .col-07, .col-08, .col-09, .col-10, .col-11, .col-12 {
	padding: 20px;
}

.col-04 p{
	padding: 0px;
}

.col-08 p{
	padding: 0px;
}

@media (max-width: 900px) {
	.row{
		display: inherit;
	}
	.col-01, .col-02, .col-03, .col-04, .col-05, .col-06, .col-07, .col-08, .col-09, .col-10, .col-11, .col-12 {
		width: 100%;
	}
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.imagenes_producto1 {
	animation: fadeIn ease 5s;
	-moz-animation: fadeIn ease 5s; 
}
